@using Microsoft.AspNet.Identity
@using VacationManager.WEB.Extensions
@model VacationManager.WEB.Models.VacationViewModel
@{
    ViewBag.Title = "Home Page";
    string tt = "/User/Details?id=" + @User.Identity.GetUserIdGuid();
}
@*<link rel="stylesheet" href="~/Content/svg-calendar.css">*@
<link href="~/Content/css/bootstrap-year-calendar.css" rel="stylesheet" />
@*<div class="jumbotron">
    <script>
       $.ajax({
         url: "@tt",
         type: "GET",
         success: function (data) {
             console.log(data);
         }
       });
       </script>
       </div>*@
<div data-provide="calendar"></div>
<div class="row">
    <div class="col-4">
        <hr />
        @using (Ajax.BeginForm("TakeVacation", "Vacation", new AjaxOptions { UpdateTargetId = "results", OnSuccess = "OnSuccess" }))
        {
            <div class="">
                <label for="from">From</label>
                <input type="text" id="from" name="DateStart">
            </div>
            <div class="">
                <label for="to">to</label>
                <input type="text" id="to" name="DateEnd">
            </div>
            <div class="">
                @Html.LabelFor(v => v.Description)
                @Html.EditorFor(v => v.Description)
            </div>
            <div class="">
                <input type="submit" value="Мне повезет!" />
            </div>
        }
        <div id="results"></div>
    </div>
    <div class="col-8">
        <hr />
        <div class="row justify-content-center">
            <div class="col-6">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td class="lvl-3"></td>
                            <td>Уже поздно</td>
                        </tr>
                        <tr>
                            <td class="lvl-2"></td>
                            <td>Испытай свою удачу</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td class="lvl-1"></td>
                            <td>Минимальные риски</td>
                        </tr>
                        <tr>
                            <td class="lvl-0"></td>
                            <td>Ты будешь первым</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @*<script>var ajaxString = "/Vacation/GetAllVacationJson";</script>*@
    <script src=@Url.Content("~/Scripts/js/bootstrap-year-calendar.js")></script>
    @*<script src=@Url.Content("")></script>*@
    <script>
        function monthDiff(dateFrom, dateTo) {
            return dateTo.getMonth() - dateFrom.getMonth() +
                (12 * (dateTo.getFullYear() - dateFrom.getFullYear()));
        }

        $(function () {
            var dateFormat = "dd-MM-yy",
                from = $("#from")
                    .datepicker({
                        dateFormat: 'dd-MM-yy',
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 2
                    })
                    .on("change", function () {
                        console.log("Selected date: " + getDate(this) + "; input current value: " + this.value);
                        index = monthDiff(new Date(), getDate(this));
                        calendarBase.svg("destroy");
                        calendarBase.svg(drawCalendar);
                        console.log(monthDiff(new Date(), getDate(this)));
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $("#to").datepicker({
                    dateFormat: 'dd-MM-yy',
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 2
                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
        });
    </script>
    <script>
        function OnSuccess(data) {
            calendarBase.svg("destroy");
            calendarBase.svg(drawCalendar);
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.calendar').calendar()
            //calendarBase.svg("destroy");
            //calendarBase.svg(drawCalendar);
        });
    </script>
}
