@model VacationManager.WEB.Models.VacationViewModel
@{
    ViewBag.Title = "Home Page";
    // string tt = "/User/Details?id=" + @User.Identity.GetUserIdGuid();
}
<link href="~/Content/css/js-year-calendar.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-datepicker@1.8.0/dist/css/bootstrap-datepicker.standalone.min.css" />
@*<div class="jumbotron"></div>*@

<div class="calendar" id="calendar"></div>
@Html.Partial("_Modal")

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="context-menu"></div>
@System.Configuration.ConfigurationManager.AppSettings["UnobtrusiveJavaScriptEnabled"]
@section scripts {
    <script src=@Url.Content("~/Scripts/js/js-year-calendar.min.js")></script>
    <script src=@Url.Content("~/Scripts/locales/js-year-calendar.ru.js")></script>
    <script>
        function editEvent(event) {
            $('#event-modal input[name="event-index"]').val(event ? event.id : '');
            $('#event-modal input[name="event-name"]').val(event ? event.name : '');
            $('#event-modal input[name="event-location"]').val(event ? event.location : '');
            $('#event-modal input[name="DateStart"]').datepicker({ format: "dd/M/yy" });
            $('#event-modal input[name="DateStart"]').datepicker('update', event ? event.startDate : '');
            $('#event-modal input[name="DateEnd"]').datepicker({ format: "dd/M/yy" });
            $('#event-modal input[name="DateEnd"]').datepicker('update', event ? event.endDate : '');
            $('#event-modal').modal();
        }

        function deleteEvent(event) {
            var dataSource = calendar.getDataSource();

            calendar.setDataSource(dataSource.filter(item => item.id == event.id));
        }

        function saveEvent() {
            var event = {
                id: $('#event-modal input[name="event-index"]').val(),
                name: $('#event-modal input[name="event-name"]').val(),
                location: $('#event-modal input[name="event-location"]').val(),
                startDate: $('#event-modal input[name="DateStart"]').datepicker('getDate'),
                endDate: $('#event-modal input[name="DateEnd"]').datepicker('getDate')
            }

            //var dataSource = calendar.getDataSource();

            //if (event.id) {
            //    for (var i in dataSource) {
            //        if (dataSource[i].id === event.id) {
            //            dataSource[i].name = event.name;
            //            dataSource[i].location = event.location;
            //            dataSource[i].startDate = event.startDate;
            //            dataSource[i].endDate = event.endDate;
            //        }
            //    }
            //} else {
            //    var newId = 0;
            //    for (var i in dataSource) {
            //        if (dataSource[i].id > newId) {
            //            newId = dataSource[i].id;
            //        }
            //    }

            //    newId++;
            //    event.id = newId;

            //    dataSource.push(event);
            //}

            //calendar.setDataSource(dataSource);
            $('#event-modal').modal('hide');
        }

        $('#save-event').click(function() {
            saveEvent();
        });
    </script>
    <script>
        var currentYear = new Date().getFullYear();
        const calendar = new Calendar('.calendar',
            {
                language: "@System.Globalization.CultureInfo.CurrentCulture",
                displayWeekNumber: true,
                minDate: new Date(),
                enableContextMenu: true,
                enableRangeSelection: true,
                contextMenuItems: [
                    {
                        text: 'Update',
                        click: editEvent
                    },
                    {
                        text: 'Delete',
                        click: deleteEvent
                    },
                    {
                        text: 'Details',

                    }
                ],

                selectRange: function(e) {
                    editEvent({ startDate: e.startDate, endDate: e.endDate });
                },
                mouseOnDay: function(e) {
                    if (e.events.length > 0) {
                        var content = '';

                        for (var i in e.events) {
                            content += "*" //'<div class="event-tooltip-content">' +
                            //'<div class="event-name" style="color:' +
                            //e.events[i].color +
                            //'">' +
                            //e.events[i].name +
                            //'</div>' +
                            //'<div class="event-location">' +
                            //e.events[i].location +
                            //'</div>' +
                            //'</div>';
                        }

                        $(e.element).popover({
                            trigger: 'manual',
                            container: 'body',
                            html: true,
                            content: content
                        });

                        $(e.element).popover('show');
                    }
                },
                mouseOutDay: function(e) {
                    if (e.events.length > 0) {
                        $(e.element).popover('hide');
                    }
                },
                dayContextMenu: function(e) {
                    $(e.element).popover('hide');
                }
            });
        console.log(calendar);
        console.log(document.querySelector('.calendar'));

        document.querySelector('.calendar').addEventListener("yearChanged",
            function(e) {
                calendar.setDataSource(null);
                $.ajax({
                    url: `/Vacation/GetAllVacationJson?dateStart=${calendar.getYear()}-01-01&dateEnd=${
                        calendar.getYear() + 1}-01-10`,
                    type: "GET",
                    success: function(data) {
                        let eventsList = [];
                        data.forEach(d => {
                            let event = {
                                startDate: parseInt(d.DateStart.substr(6, 13)),
                                endDate: parseInt(d.DateEnd.substr(6, 13))
                            };
                            eventsList.push(event);
                        });
                        calendar.setDataSource(eventsList);
                    }
                });
            });

        document.querySelector('.calendar').dispatchEvent(new Event("yearChanged"));

        //calendar.setStyle('custom');
        var customDataSourceRenderer = function(element, currentDate, events) {
            let count = 0;
            events.forEach(event => {
                if (currentDate >= event.startDate && currentDate <= event.endDate) {
                    count++;
                }
            });
            let lvl;
            switch (count) {
            case 0:
                lvl = 0;
                break;
            case 1:
                lvl = 1;
                break;
            case 2:
                lvl = 2;
                break;
            case 3:
                lvl = 3;
                break;
            default:
                lvl = 3;
                break;
            }
            element.parentElement.setAttribute("data", "lvl-" + lvl);
        }
        calendar.setCustomDataSourceRenderer(customDataSourceRenderer);
    </script>
    <script>

    </script>
    <script>
        var dataSource = calendar.getDataSource();
        console.log(dataSource);

        function OnSuccess(e) {
            $('#exampleModal .modal-body').text("Success take vacation");
            $('#exampleModal').modal();

            var event = {
                id: $('#event-modal input[name="event-index"]').val(),
                name: $('#event-modal input[name="event-name"]').val(),
                location: $('#event-modal input[name="event-location"]').val(),
                startDate: $('#event-modal input[name="DateStart"]').datepicker('getDate'),
                endDate: $('#event-modal input[name="DateEnd"]').datepicker('getDate')
            }

            console.log(event.startDate);
            var newId = 0;
            for (var i in dataSource) {
                if (dataSource[i].id > newId) {
                    newId = dataSource[i].id;
                }
            }

            newId++;
            event.id = newId;

            dataSource.push(event);
            calendar.setDataSource(dataSource);
        }
    </script>
    <script>
        function OnError(e) {
            $('#exampleModal .modal-body').text("Wrong vacation parameter");
            $('#exampleModal').modal();
        }
    </script>
}
