@model VacationManager.WEB.Models.MonthViewModel[]
<div class="ch-year">
    <div class="ch-week-labels">
        <div class="ch-day-labels">
            <div class="ch-day-label">Mo</div>
            <div class="ch-day-label">Tu</div>
            <div class="ch-day-label">We</div>
            <div class="ch-day-label">Th</div>
            <div class="ch-day-label">Fr</div>
            <div class="ch-day-label">St</div>
            <div class="ch-day-label">Sn</div>
        </div>
        <div class="ch-month-label" style="visibility:hidden">m</div>
    </div>
    
    @for(int i = 0; i < 3; i++)
    {
            <div class="ch-month">
                @Html.Partial("_Month", Model[i])
            </div>
    }
</div>