
@using PerpetuumSoft.Knockout
@model VacationManager.BLL.DataModels.UserDTO
<div id=@Model.Id>
        @{
            var ko = Html.CreateKnockoutContext();
        }
        <p>@ko.Html.TextBox(m => m.Email)</p>
        <h2>Hello, @ko.Html.Span(m => m.Email)!</h2>
</div>

@ko.Apply(Model, @Model.Id.ToString())