@model IEnumerable<VacationManager.BLL.DataModels.UserDTO>

@{
    ViewBag.Title = "AdminMenu";
}

<h2>Admin Menu</h2>
@foreach (var user in Model)
{
    <p>@user.Email</p>
    <p>@user.Roles</p>
    foreach (var role in user.Roles)
    {
        <p>@role.Name</p>
    }
}
